<footer  class="p-3 bg-secondary text-white">
  <div class="my-5 container">
    <div class="col-12 text-center mt-3">
      <p>&copy; 2022-<%= Time.current.year %> Copyright Anicomi .</p>
    </div>
  </div>
</footer>